/* *{
    border: 1px solid rgb(6, 33, 73);
} */
.sec1{
 
    
    display: flex;
}
.secdiv1{

padding: 100px;
 

    background-image: url(img/pattern.jpg);
    background-position: center;
  background-repeat: no-repeat;
background-size: cover;

/* padding: 10%; */
}
 
.navbar-toggler-icon{
    outline: white;
    color: white !important;
}



.a{
    
    color: white;
font-size: 1rem;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
text-decoration: none;

    display: flex;
    justify-content: center;
    text-decoration-color: aliceblue;
}
.nav-item>.nav-link{
    color: white;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    
        display: flex;
        justify-content: center;
      text-transform: capitalize;
    
}
.icone{
    color: white;
    font-size: 1.5rem;


}
.green{
    color: #008627;
}
.nav-item>.nav-link:hover{
   color: #008627;
}
.icone:hover{
    color: #008627;
}
.div1t{
    color: white;
    /* margin-top: 200px; */
    /* margin-left: 25%; */
    margin: auto;
    text-align: center;
}
.int3{
    color: #3F5360;
    margin-left: 27%;
    line-height: 5vh;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}
.btn{
    letter-spacing: 5px;
    font-size: 0.8rem;
    /* margin-left: 31%; */
justify-content: center;
align-items: center;

margin-left: 30%;
/* width: 10vw; */
outline: none;
}
.p1{
    
    color: white;
    font-size: 4rem;
    width: 10%;
    justify-content: center;
    margin:-5%;
    margin-top: 50%;
    /* background: white; */


}
.p1:hover{
    color: #008627;
}
.sec2{
   
    background: #00A650;
    
    
}
.p2{
    margin-top: 0%;

}
.h1p1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 3rem;
    text-align: center;
}
.h5p2{
    color: #A8E4CB;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
}
/* .dv{
    
   
} */
.h1p4{
    color: white;
}
.h6p5{
    color: #AAE1C5;
}
.img{
    display: flex;
   justify-content: center;

margin-top: 50px;
}
.sec3{
    padding: 10%;
}
.h2p7{
    text-align: center;
    color: rgba(0, 0, 0, 0.932);
    font-size: 3rem;
    font-family: "Roboto Slab", serif;
font-weight: bold;
}
.h2p5{
    text-align: center;
    color: rgba(0, 0, 0, 0.932);
    font-size: 4rem;
    font-family: "Roboto Slab", serif;
font-weight: bold;

}
.h5p6{
    text-align: center;
    color:#797979;
    line-height: 2rem;
    font-family: "Nanum Myeongjo", serif;
}

.icone1{
    font-size: 2rem;
    color: white;
    /* border-radius: 70%; */
    background: #008627;
    padding: 10px;
    
}
.icontext{
    font-size:2rem;
}
.textt3{
    color: #797979;
    font-size: 1rem;
    font-family: "Nanum Myeongjo", serif;

}
.div27{
 
    text-align: center;
    display: flex;
margin-top: 20%;
}
.sec4{
   background: #F2F2F2;
}
.h2p7{
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-weight: 5rem;
}
.h5p8{
    color: #797979;
    text-align: center;
    font-family: "Nanum Myeongjo", serif;;
}
.h2col{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 5%;
    font-weight: bold;
    font-size: 3rem;
}
.cloudicon{
    color: #008627 ;
    margin: 7px;
    font-size: 3rem;
}
.p11{
    font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 2em;

}
.imgus1{
    border-radius: 60%;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.sec5txt{
    color: #008627;
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.sec5txt2 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}
.h2p7{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
}
 .ul >ul li::before{
    content: ".";
    color: green;
    width: 1em;
    font-weight: bold;
    display: inline-block;
  
    margin-left: 12px;
    font-size: 2rem;
    size: 2rem;
   

}
ul{
    list-style: none;
    font-family: "Nanum Myeongjo", serif;
}
.div2{
    background: #00A650;
}
.text61{
    color: white;
}
.t6{
    color: black;
}
.sec8{
    background: #008627;
    padding: 10px;
}

.sec8txt{
    color: white;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
.sec8txt2{
    color: white;
    font-family:sans-serif;
    font-weight: 20;
    font-size: 1rem;
    line-height: 2;
    font-family: "Nanum Myeongjo", serif;
}
.img27{
    width:90%;
}
.sec9{
    background: #121619;
}
.h5p{
    color: #797979;
    font-family: "Josefin Slab", serif;
    font-size: 2rem;
}
.h2p{
    font-size: 3rem;
    color: #008627;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 20em;
}
.form-control{
    width: 100%;
    padding: 10px;
    background: #262a2e;
    border: none;
}
.p6col{
    width: 20%;
}
.span{
    width: 50%;
  
}
.btn4{
    width: 20%;
    color: white;
    background:#008627 ;
    letter-spacing: 0.4rem;
    font-weight: bold;
}
.h5897124{
    color: #797979;
    font-family: "Nanum Myeongjo", serif;
}
.h56{
    color: green;
    font-weight: bold;
}
.h56:hover{
    color: white;
    font-weight: bold;
}
.p1235{
    margin: 5%;
}
.e670z{
    color: white;
    font-size: 1.5rem;
    font-family:"Josefin Slab", serif ;
}
.h5785{
    color: #3F5360;
    font-family: "Nanum Myeongjo", serif;
}
.h546{
    color: #3F5360;
}
.mentor{
    color: #008627;
    font-size: 1.5rem;
    font-family:"Josefin Slab", serif ;
}
/* .navbar-toggler-icon{
    
} */
 .p99{
    font-family: "Nanum Myeongjo", serif;
 }
